$purple-studio: #7f4eae;
$purple-seance: #811daf;
$purple-loulou: #2e0b29;
$purple-kimberly: #7578ab;
$purple-butterfly-bush: #6d569f;
$purple-logan: #b4a8cd;
$blue-bright-turquoise: #10c9d0;
$blue-monte-carlo: #85cab8;
$green-pastel: #6cdc8f;
$green-delta: #a5a7a3;
$green-amulet: #80a175;
$yellow-sunglow: #ffbf35;
$yellow-roti: #bca640;
$orange-saffron-mango: #fac657;
$orange-jaffa: #ee9736;
$grey-mineshaft: #333;
$grey-alabaster: #fafafa;
$grey-bright: #3e4453;
$grey-bright-dark: #393f4e;
$white: #fff;
$red: #f00;
$red-eunry: #cfa193;
$red-grenadier: #da3805;
$black: #000;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$font-classic: "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
$font-freight: "freight-sans-pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

textarea:focus,
input:focus {
	outline: none;
}

html {
  height: 100%;
}

body,
input,
textarea {
  color: $grey-mineshaft;
}

*, :before, :after {
  box-sizing: border-box
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: inherit;
}

body {
	background-color: $purple-loulou;
	font-family: $font-classic;
  height: 100%;
  position: relative;
}

.nobr {
	white-space: nowrap;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ddd;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ddd;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ddd;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #ddd;
}

@media (min-width: 800px) {


}
