swagger: '2.0'
info:
  description: API in Rails for the LeReglement application
  version: 3.0.0
  title: LeReglement API
  contact:
    email: nanark@gmail.com
host: api.lereglement.xyz
basePath: /api/v1
schemes:
  - https
paths:
  /playlists/next:
    get:
      tags:
        - playlist
      summary: Get next file
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PlaylistNext'
  /tracks/not_converted:
    get:
      tags:
        - tracks
      summary: Get not converted tracks
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/TracksNotConverted'
  /tracks/{id}:
    put:
      tags:
        - tracks
      summary: Update a track
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
        - name: track
          in: body
          required: true
          schema:
            $ref: '#/definitions/TrackUpdate'
      responses:
        '200':
          description: successful operation
          schema:
            type: boolean
definitions:
  TracksNotConverted:
    type: object
    properties:
      source:
        type: string
      target:
        type: string
      quality:
        type: string
      pong:
        type: string
  TrackUpdate:
    type: object
    properties:
      is_converted:
        type: boolean
      bitrate:
        type: integer
      duration:
        type: integer
  PlaylistNext:
    type: object
    properties:
      artist:
        type: string
      title:
        type: string
      file:
        type: string
      cover:
        type: string
