swagger: '2.0'
info:
  description: API in Rails for the LeReglement application
  version: 3.0.0
  title: LeReglement API
  contact:
    email: nanark@gmail.com
host: api.lereglement.xyz
basePath: /api/v1
schemes:
  - https
paths:
  /playlists/current:
    get:
      tags:
        - playlist
      summary: Get current track
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CurrentTrack'
  /playlists/next:
    get:
      tags:
        - playlist
      summary: Get next file
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/PlaylistNext'
  /tracks/not_converted:
    get:
      tags:
        - tracks
      summary: Get not converted tracks
      produces:
        - application/json
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/TracksNotConverted'
  /tracks/{id}:
    put:
      tags:
        - tracks
      summary: Update a track
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
        - name: track
          in: body
          required: true
          schema:
            $ref: '#/definitions/TrackUpdate'
      responses:
        '200':
          description: successful operation
          schema:
            type: boolean
definitions:
  TracksNotConverted:
    type: object
    properties:
      artist:
        type: string
      title:
        type: string
      source:
        type: string
      target:
        type: string
      quality:
        type: string
      pong:
        type: string
  TrackUpdate:
    type: object
    properties:
      is_converted:
        type: boolean
      bitrate:
        type: integer
      duration:
        type: integer
      duration_converted:
        type: integer
      ref_external_source:
        type: string
      origin_external_source:
        type: string
  PlaylistNext:
    type: object
    properties:
      type_of:
        type: string
      artist:
        type: string
      twitter:
        type: string
      title:
        type: string
      file:
        type: string
      cover_xsmall:
        type: string
      cover_small:
        type: string
      cover_medium:
        type: string
      cover_large:
        type: string
  CurrentTrack:
    type: object
    properties:
      title:
        type: string
      artist:
        type: string
