.cover {
  &-huge {
    height: 196px;
    width: 196px;
    background: rgba(white, .15);
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.09), 0 3px 6px 1px rgba(0,0,0,0.05);
  }
}
