@import '../vars';
.navbar {
  padding-top: 30px;
  display: flex;
  align-items: center;

  &-menu {
    margin-left: auto;
  }

  &-networks {
    a {
      margin-left: $padding;
      opacity: .5;

      &:hover {
        opacity: .7;
      }
    }
  }

  &-wrapper {
    padding-bottom: 0;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    padding-right: 300px;

    @media(max-width: 900px) {
      padding-right: 0;
    }
  }

  &-logo {
    height: 40px;
    width: 40px;
    display: inline-block;
    background: image-url("logo.png");
    background-size: cover;
    position: relative;

    &-link {
      display: flex;
    }

    &-glow {
      background: image-url("logo.png");
      background-size: cover;
      z-index: -1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(10px);
      top: 0;
    }
  }

  &-typo {
    color: white;
    margin-left: 15px;
    line-height: 1;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0px;
    display: inline-block;
    margin-bottom: 2px;
    @media(max-width: 600px) {
      display: none;
    }


    svg {
      width: 126px;
      height: 20px;
    }
  }

  &-tagline {
    display: block;
    margin-left: 15px;
    color: white;
    opacity: .5;
    font-weight: 400;
    font-size: 16px;
    margin-top: 3px;
    line-height: .9;

    @media(max-width: 600px) {
      display: none;
    }

  }
}
