// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
$purple-heliotrope: #BD58FE;
$grey-mineshaft: #333;
$grey-alto: #d2d2d2;
$grey-gallery: #ebebeb;
$grey-alabaster: #fafafa;
$green-shamrock: #2FD575;
$yellow-lighning: #FABE19;
$black: #000;
$red: #f00;

a:visited,
a:link,
a {
  text-decoration: none;
}

$font-classic: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

body {
  color: $grey-mineshaft;
  background-color: $grey-alabaster;
}

body,
a {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande" !important;
  font-size: 13px;
}

body{
  &.logged_out {
    background-color: black;

    h2 {
      color: white!important;
      text-transform: uppercase;
    }
  }
}

#header {
  background: $black;
  border-bottom: 5px solid $purple-heliotrope;
  font-weight: bold;
  text-transform: uppercase;

  #site_title_image {
    margin: 5px 0 3px;
  }
}

#header a:link,
#header a {
  color: rgba(white, .7);
  text-shadow: none;
}

#header ul.tabs > li:hover > a {
  background-color: $purple-heliotrope;
  border-radius: 5px;
}

#header ul.tabs > li.current > a {
  background-color: darken($purple-heliotrope, 10%);
  border-radius: 5px;
}

#active_admin_content {
  border-radius: 5px;
  h2 {
    background: $purple-heliotrope;
    color: $grey-mineshaft;
    box-shadow: unset;
    text-shadow: unset;
    border-radius: 5px 5px 0 0;
    padding: 10px;
  }
}

#title_bar,
.sidebar_section > h3,
table.index_table th {
  background-color: $grey-gallery;
  background-image: none;
  text-shadow: unset;
  border-bottom: 1px solid $grey-alto;
  box-shadow: unset;
}

#title_bar h2 {
  font-weight: normal;
}

a,
a:link {
  text-decoration: none;
}

// sidebar_section
.sidebar_section .panel_contents h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0 10px;
  text-transform: uppercase;
}

table.index_table td {
  background-color: white;
}

.col-created,
.col-updated {
  white-space: nowrap;
}

.col-portrait,
.col-card {
  width: 100px;
}

// Comments
.comments {
  .active_admin_comment {
    max-width: none;

    .active_admin_comment_meta {
      width: auto;
      float: none;
      margin-bottom: 10px;
    }

    .active_admin_comment_body {
      margin: 0;
      padding: 10px;
      background-color: white;
      border-radius: 10px;
    }
  }

  // Textarea
  form.active_admin_comment {
    margin: 0;
  }
}

.comments {
  form {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=url],
    input[type=tel],
    input[type=date],
    input[type=time],
    textarea {
      font-size: 13px;
      width: calc(100% - 22px);
    }
  }
}

form {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  input[type=date],
  input[type=time],
  textarea,
  select {
    -webkit-appearance:none;
    border-radius: 5px;
    color: $black;
    font-family: $font-classic;
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ddd;
  }

  select {
    border-left: 3px solid $purple-heliotrope;
    border-radius: 2px;
  }

  textarea {
    height: 100px;
  }

  input[type=submit] {
    background-color: $purple-heliotrope;
    background-image: none;
    border: 0;
    box-shadow: none;
    color: white;
    padding: 10px 20px;
    text-shadow: none;

    &:hover {
      background-color: darken($purple-heliotrope, .2)!important;
      background-image: none!important;
    }
  }
}

form fieldset ol > li label {
  padding-top: 10px;
}

.status_tag {
  border-radius: 3px;
  &.track {
    background: $purple-heliotrope;
  }
  &.active {
    background: $green-shamrock;
  }
  &.pending {
    background: $yellow-lighning;
  }
}
