@font-face {
 font-family: "Futura";
 font-weight: 300;
 src: font-url('futura/regular/futura-webfont.eot');
 src: font-url('futura/regular/futura-webfont.woff') format('woff'),
      font-url('futura/regular/futura-webfont.ttf') format('ttf');
}

@font-face {
 font-family: "Futura";
 font-weight: 500;
 src: font-url('futura/regular/futurastd-medium-webfont.eot');
 src: font-url('futura/regular/futurastd-medium-webfont.woff') format('woff'),
      font-url('futura/regular/futurastd-medium-webfont.svg') format('svg'),
      font-url('futura/regular/futurastd-medium-webfont.ttf') format('ttf');
}

@font-face {
 font-family: "Futura";
 font-weight: 700;
 src: font-url('futura/regular/futura-bold-webfont.eot');
 src: font-url('futura/regular/futura-bold-webfont.woff') format('woff'),
      font-url('futura/regular/futura-bold-webfont.svg') format('svg'),
      font-url('futura/regular/futura-bold-webfont.ttf') format('ttf');
}
